.pixel-pong {
  background-image: url("https://i.ibb.co/KWLx9WW/landing-bacground.gif");
}

.matcha {
  background-image: url("https://i.ibb.co/qsj6VQP/Screenshot-2025-01-24-at-19-56-00.webp");
}

.orionplat {
  background-image: url("https://i.ibb.co/Lr4w4qP/waves-8905720-1280.webp");
}

.midlands {
  background-image: url("https://i.ibb.co/7JpDknn/Screenshot-2025-01-24-at-19-22-08.webp");
}

.mineworld {
  background-image: url("https://i.ibb.co/Qd4khnb/Screenshot-2025-01-24-at-19-35-42.webp");
}

.minishell {
  background-image: url("https://i.ibb.co/y6gr6pZ/Screenshot-2025-01-24-at-19-48-34.webp");
}

.irc {
  background-image: url("https://i.ibb.co/fk0hRP5/Wee-Chat-3.webp");
}

.portfolio {
  background-image: url("https://i.postimg.cc/SqJm8ZbC/IMG-1692-1-2.webp");
}

.youthbook {
  background-image: url("https://i.ibb.co/Z6DXWgs/MG-8841-CR2.webp");
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f7;
  overflow: hidden;
}

.projects-carousel {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1200px;
  height: 90%;
  padding: 0 24px;
  scrollbar-width: none; 
}

.projects-carousel::-webkit-scrollbar {
  display: none;
}

.projects-item {
  flex: 0 0 calc(33.33% - 24px);
  max-width: 350px;
  height: 70%;
  scroll-snap-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #c8c8c8;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 16px;
  position: relative; 
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects-item:hover {
  transform: scale(1.01);
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); affecting too much the performance*/
}

.item-header {
  text-align: left;
  width: 100%;
  z-index: 2; 
}

.item-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.item-tools {
  font-size: 0.875rem;
  color: #666666;
  font-weight: bold;
  margin: 4px 0 0;
}

.card-overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  border-radius: 20px;
}

.expand-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.expand-button:hover {
  background-color: #6d6d6d;
}

@media (max-width: 900px) {
  .projects-item {
    flex: 0 0 calc(50% - 24px);
  }
}

@media (max-width: 600px) {
  .projects-item {
    flex: 0 0 calc(100% - 24px);
  }
}

.overlay-toggle {
  display: none;
}

.project-overlay {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999; 
  /* backdrop-filter: blur(2px); its affecting too much the performance*/ 
}



.overlay-toggle:checked + .project-overlay {
  display: flex; 
  pointer-events: auto;
  opacity: 1;
}

.overlay-content {
  background: white;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.3);
  max-width: 900px;
  width: 90%;
  max-height: 90vh;
  padding: 40px;
  margin: 0 auto;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  overflow-y: auto;
  scrollbar-width: none;
}

.overlay-content::-webkit-scrollbar {
  display: none;
}

.overlay-toggle:checked + .project-overlay .overlay-content {
  transform: translateY(0);
  opacity: 1;
}

.close-button {
  top: 16px;
  right: 16px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 1.25rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: absolute;
}

.close-button:hover {
  transform: rotate(90deg) scale(1.05);
  background-color: #4e4e4e;
}

.project-details {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
}

.project-details p {
  margin-bottom: 1.2rem;
}

.project-video {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  margin: 1.5rem auto; 
  display: block;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}

@media (max-width: 450px) {
  .projects-item:hover {
    transform: none;
    box-shadow: none;
  }
}